@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

#container {
    display: inline-block;
    padding: 25px;
    margin: auto;
    text-align: center;
    justify-content: center;
}

.cards {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    transition: ease-out 0.35s;
    opacity: 0.75;
}

.cards:hover {
    transform: scale(1.2);
    transition: ease-in 0.25s;
    opacity: 1;
}

span {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

#button {
    color: #fff;
    font-size: 16px;
    transition: ease-out 0.12s;
  
}

#button:hover {
    background-color: green;
    transition: ease-in 0.15s;
    border: 1px solid rgb(0, 122, 0);
}